<h1><%= @user.username %>'s Profile Page</h1>

<%# comment form %>
<% if @user.goals.count > 0 %>
<%= @user.username %>'s <%= @user.goals.count %> Goals:
<%#  show each goal %>
<% else %>
No Goals Yet :(
<% end %>

<%# new goal link %>

<a href="<%= new_goal_url %>">Create a new goal!</a>
<%# my cheers link %>
<%# all users %>

<a href="<%= users_url %>">All users</a>